<div class="navbar" role="banner">
    <span class="title">Sales-Tax !!</span>
  </div>
  
  <div class="content" role="main">
    <div class="form">
      <!-- Text File Upload -->
      <h3 class="">Please upload a text(.txt) file with items to generate a receipt:</h3>
      <input type="file" (change)="onChange($event.target.files)">
    </div>
  
    <div *ngIf="checkoutItems.length > 0" class="">
      <h3>Here's your receipt:</h3>
      <ul style="list-style-type:none;">
        <li *ngFor="let item of checkoutItems">
          <pre>{{ item.name }}: {{ item.price | number : '1.2-2' }}</pre>
        </li>
        <li>
  
          <pre>Sales taxes: {{ totalSalesTax | number : '1.2-2' }}</pre>
        </li>
        <li>
          <pre>Total: {{ total  | number : '1.2-2' }}</pre>
        </li>
      </ul>
    </div>
  </div>