.navbar {
    display: flex;
    align-items: center;
    background-color: #177fee;
    font-size: 35px;
    font-weight: 700;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
  }
  
  .title {
    margin-left: auto;
    margin-right: auto;
  }

  .content {
    margin: 82px auto 32px;
    padding: 0 20px;
  }

  .form{
    margin-bottom: 15px;
  }

  h3 {
    margin: 8px 0;
  }

  ul {
    padding-left: 2px !important;
  }