<div class="navbar" role="banner">
  <span class="title">Sales-Tax !!</span>
</div>

<div class="content" role="main">
  <div class="form">
    <!-- Text File Upload -->
    <h2 class="">Please upload a text(.txt) file with items to generate a receipt:</h2>
    <input type="file" (change)="onFileUpload($event.target.files)">
  </div>

  <div *ngIf="productDataList.length > 0" class="">
    <h3>Here's your receipt:</h3>
    <ul style="list-style-type:none;">
      <li *ngFor="let productData of productDataList">
        <pre>{{ productData.name }}: {{ productData.priceWithTax | number : '1.2-2' }}</pre>
      </li>
      <li>
        <pre>Sales taxes: {{ totals.totalSalesTax | number : '1.2-2' }}</pre>
      </li>
      <li>
        <pre>Total: {{ totals.totalPrice  | number : '1.2-2' }}</pre>
      </li>
    </ul>
  </div>
</div>